.box-component {
  -webkit-box-shadow: 2px 17px 22px -1px rgba(148,148,148,0.59);
  -moz-box-shadow: 2px 17px 22px -1px rgba(148,148,148,0.59);
  box-shadow: 2px 17px 22px -1px rgba(148,148,148,0.59);

}

